/* header */
.doko-header .nav-item,
.doko-header .nav-item .nav-link {
  transition: all .15s ease-in-out;
}

.doko-header .nav-item {
  background: linear-gradient(#ffca13,#ffca13) bottom/ 0 2px no-repeat;
}

.doko-header .nav-item .nav-link {
  padding: 8px 20px;
  font-size: 14px;
  color: #000;
}

.doko-header .--jp .nav-item .nav-link {
  padding: 5px 15px;
}

.doko-header .nav-item:hover,
.doko-header .nav-item.active {
  background-size: 35% 2px;
}

.doko-header .nav-item:hover .nav-link,
.doko-header .nav-item.active .nav-link {
  color: #ffca13;
}

/* switch language */
.switch-language a {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
  transition: color .15s ease-in-out;
  background: linear-gradient(#3b81bf,#3b81bf) bottom/70% 0 no-repeat;
}

.switch-language a:not(:last-child) {
  border-right: solid 2px;
}

.switch-language a:hover,
.switch-language a.active {
  color: #3b81bf;
  border-color: #000;
  background-size: 70% 2px;

}

/* footer */
footer .footer__list li {
  margin-bottom: 5px;
}

footer .footer__list li:not(:last-child) {
  padding-right: 5px;
  margin-right: 5px;
  border-right: solid 1px #fff;
}

footer .footer__list li a {
  color: inherit;
  transition: color .15s ease-in-out;
}

footer .footer__list li a:hover {
  color: #ffca13;
}

footer .footer__socmed a img {
  height: 20px;
  transition: all .15s ease-in-out;
}

footer .footer__socmed a img:hover {
  filter: contrast(0.7);
}

footer .footer__socmed li:not(:last-child) {
  margin-right: 8px;
}

footer .logique-logo {
  width: 125px;
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 991.98px) {
  /* header */
  .doko-header .nav-item:hover,
  .doko-header .nav-item.active {
    background-size: 50px 2px;
  }
}

@media screen and (max-width: 767.98px) {
  /* header */
  .doko-header .navbar-brand img {
    width: 50px;
  }
}

@media screen and (max-width: 320px) {
  .doko-header .navbar-brand img {
    width: 40px;
  }
}