.fs-18{
	font-size: 18px;
}

.fs-27{
	font-size: 27px;
}

.navbar{
	padding: 2.3em 1em;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item.active .nav-link {
  color: #eaaa12 !important;
}

.navbar-brand,
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 40px;
}

.switch-language {
  display: flex;
  overflow: hidden;
}

.switch-language input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  display: none;
}

.switch-language label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  margin-bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-language label:hover {
  cursor: pointer;
}

.switch-language input:checked + label {
  background-color: #f3b116;
  color: white;
  box-shadow: none;
}

.switch-language label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-language label:last-of-type {
  border-radius: 0 4px 4px 0;
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1200px;
  }
}
