.nav-item {
  display: flex;
  align-items: center;
}

.nav-item .nav-link {
  text-align: center;
}

.navbar .nav-item:hover,
.navbar .nav-item.active {
  background: linear-gradient(#ffca13,#ffca13) bottom/ 35% 2px no-repeat;
}

.nav-item:hover .nav-link,
.nav-item.active .nav-link,
.nav-item .nav-link.active {
  color: #ffca13 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 20px;
  font-size: 14px;
  color: #000;
}

.navbar-expand-lg .navbar-nav.--jp .nav-link {
  padding: 5px 15px;
}

/* switch language */
.switch-language a {
  color: #000;
  text-decoration: underline transparent;
  transition: color .15s ease-in-out;
  font-size: 14px;
}

.switch-language a:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px;
}

.switch-language a:hover,
.switch-language a.active {
  color: #3b81bf;
  border-color: #000;
  text-decoration: underline #3b81bf;
}

/* footer */
footer .footer__list li {
  margin-bottom: 5px;
}

footer .footer__list li:not(:last-child) {
  padding-right: 5px;
  margin-right: 5px;
  border-right: solid 1px #fff;
}

footer .footer__list li a {
  color: inherit;
  transition: color .15s ease-in-out;
}

footer .footer__list li a:hover {
  color: #ffca13;
}

footer .footer__socmed a img {
  height: 25px;
  transition: all .15s ease-in-out;
}

footer .footer__socmed a img:hover {
  filter: contrast(0.7);
}

footer .footer__socmed li:not(:last-child) {
  margin-right: 20px;
}

.logique-logo {
  width: 125px;
  text-align: center;
  margin-top: 20px;
}


/* @media (min-width: 1200px) {
  .navbar .container {
    max-width: 1200px;
  }
} */

@media screen and (max-width: 1199.98px) {
  /* .navbar-brand,
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 15px;
    font-size: 14px;
    color: #000;
  }
  .navbar-brand img {
    width: 75px;
    height: auto;
  } */
}


@media (max-width: 991.98px) {
  /* .logique-logo {
    float: none;
  } */
  .navbar {
    max-height: unset;
    /* border-bottom: 1px solid #fdf0d1; */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    background: #f0f0f0;
  }
  .navbar-brand,
  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .nav-item {
    display: block;
  }
  .navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
  }
  .navbar {
    border-bottom: 0px;
  }
  .navbar-toggler {
    background-color: #f0f0f0;
  }
  .nav-item {
    margin: 0 auto;
  }
  .navbar-nav {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-brand img {
    width: 60px;
    height: auto;
  }
}