/* @font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Regular.ttf');
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-SemiBold.ttf');
  font-weight: 600;
}

body {
  font-family: 'Khula';
  color: #505458;
} */

.top-content {
  /* background: url("../img/about/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; */
  position: relative;
  /* min-height: 600px; */
}

.top-content .img-bg {
  object-fit: cover;
  width: 100%;
  height: 410px;
  position: absolute;
}

.about-us-left {
  margin-top: 5em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2em;
}

.about-us-left h1 {
  font-size: 27px;
  font-weight: bold;
}

.about-us-left .about-us-desc {
  padding-top: 1em;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 2;
}
.about-us-left .about-us-contact {
  padding-top: 1em;
  font-weight: bold;
}

.about-us-left .about-us-contact a {
  color: #00659a;
}

.img-dokodemo-about {
  max-width: 100%;
  min-width: 115%;
  height: auto;
  margin-left: -80px;
}

.about-us-right {
  padding: 2em 1em 2em 2em;
}

.about-us-right h1 {
  font-weight: bold;
  font-size: 27px;
}

.about-us-right p {
  padding-top: 1em;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 2;
}

.to-whom {
  padding: 3em 0 2em;
  background: url('../img/about/hr_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hr-managers {
  text-align: center;
}
.hr-managers h1 {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 1em;
  letter-spacing: 0.3px;
}
.hr-managers h2 {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 0.2em;
  letter-spacing: 0.3px;
}

.hr-managers p {
  letter-spacing: 0.3px;
}

.hr-manager-benefits {
  padding: 2em 0;
}

.benefits-item {
  margin-top: 1.2em;
}

.benefits-item h3 {
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 1.5em;
}

.employee-benefits {
  padding: 2em 0 3em;
}

.employee-benefits h2 {
  text-align: center;
  font-weight: bold;
  padding: 0.5em 0;
}

.employee-benefits-item {
  margin-top: 3em;
  display: flex;
  align-items: flex-start;
}

.employee-benefits-desc h3 {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 1.2em;
}

.read-testimony {
  background: url('../img/about/bg-testimony.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 0;
}

.read-testimony h3 {
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 0.5em;
  letter-spacing: 0.3px;
}

.btn-read-testimony,
.btn-read-testimony:hover {
  color: white;
  display: block;
  line-height: 1;
  width: 200px;
  text-align: center;
  font-weight: normal;
  background: rgb(243, 177, 22);
  background: linear-gradient(
    180deg,
    rgba(243, 177, 22, 1) 0%,
    rgba(205, 148, 15, 1) 100%
  );
  padding: 1em 0 0.7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0em auto;
}

#fixedbutton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 96px;
  height: 96px;
  z-index: 10;
}

/* left fixed btn */
.botFixedBtn{
  position: fixed;
    bottom: 3%;
    left: 2%;
    padding: 10px 0;
    width: 50px;
    height: fit-content;
    z-index: 10;
}

.popUpBottom{
  position: fixed; 
  bottom: 2%; 
  left: 1%; 
  z-index: 20; 
  width: 300px;
}

#popup-text {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  right: 10px;
  bottom: 94px;
  width: 107px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  z-index: 10;
}

.speech-bubble {
  position: relative;
  background: #25d366;
  border-radius: 0.4em;
  padding: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #25d366;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: -15px;
}

/* Subscribe content  */

.subscribe-header {
  text-align: center;
}

.subscribe-header-container {
  border-bottom: 1px solid #757575;
}

.subscribe-header-title {
  font-weight: bold;
}

.subscribe-header-content {
  font-size: 18px;
}

.subscribe-footer {
  text-align: center;
}

.subscribe-footer-container {
  border-top: 1px solid #757575;
}

.subscribe-footer-title {
  font-weight: bold;
}

.subscribe-footer-content {
  font-size: 18px;
}

.blue2 {
  color:#008ec4;
  font-size: 18px;
}

.privacy-title h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .hide-button-on-mobile {
    display: block;
  }
  .speech-bubble {
    display: none;
  }
}

@media (max-width: 576px) {
  .top-content .img-bg {
    height: 200px;
    position: relative;
  }
  .about-us-left {
    margin-top: 0;
  }
  .hr-manager-benefits {
    padding-bottom: 0;
  }
  .employee-benefits-desc h3 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .about-us-right {
    padding: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .about-us-right {
    padding: 2em;
  }
}

@media screen and (max-width: 425px) {
  .benefits-item {
    margin-top: 1.2em;
    padding: 0 2em;
  }
  .about-resp-config {
    padding: 0 2em;
  }
  .about-resp-config p {
    text-align: justify !important;
  }
  .employee-benefits-item {
    padding: 0 2em;
  }
  .employee-benefits-desc p {
    text-align: justify;
  }
  .read-testimony {
    padding: 2em;
  }
  .read-testimony h3 {
    font-size: 18px;
  }
}

/* New Content  */

.benefits-features {
  padding: 2em 0;
  padding-top: 5em;
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.2px;
  color: #505458;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.features p {
  text-align: center;
  color: #505458;
  font-size: 18px;
  font-weight: normal;
  padding: 2em 2em;
}

.feature-img-wrapper {
  margin-top: 2em;
  min-height: 110px;
  display: flex;
  align-items: flex-end;
}

.feature-1,
.feature-2,
.feature-3 {
  border-bottom: 1px solid #419bf9;
}

.feature-1,
.feature-2,
.feature-4,
.feature-5 {
  border-right: 1px solid #419bf9;
}

.btn-learn-more,
.btn-learn-more:hover,
.btn-more-features,
.btn-more-features:hover {
  color: white;
  display: block;
  line-height: 1.5;

  width: 200px;
  font-weight: normal;
  text-align: center;
  background: rgb(24, 138, 226);
  background: linear-gradient(
    180deg,
    rgba(24, 138, 226, 1) 0%,
    rgba(22, 116, 188, 1) 100%
  );
  padding: 1em 0 0.7em 0;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 2em auto;
}

.benefit-title {
  color: #505458;
  font-size: 22px;
  letter-spacing: 0.1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blue-separator {
  width: 100px;
  border-bottom: 3px solid #188ae2;
  margin: 0;
}

.benefit-desc {
  font-size: 20px;
  line-height: 35px;
  color: #505458;
  padding-top: 15px;
}

.benefit-content {
  max-width: 600px;
  padding: 0 5%;
}

.benefit-content.right {
  padding-left: 16%;
}

.dokodemo-user-float {
  position: absolute;
  bottom: 0;
  left: -20vh;
  width: 80%;
}

.dokodemo-desc {
  padding: 2em 0;
}

.dokodemo-desc p {
  text-align: center;
  font-size: 18px;
  color: #505458;
  max-width: 600px;
  line-height: 23px;
  margin: 0 auto;
}

/* Resp Develop */

@media screen and (min-width: 1024px) and (max-width:1024px) {
  .employee-benefits {
    padding: 0 0 3em;
  }
  .navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .benefit-desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 812px) and (min-width:768px) {
  .img-dokodemo-about {
    display: none;
  }
  .employee-benefits {
    padding: 0 0 3em;
  }
  .navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .dokodemo-user-float {
    position: absolute;
    bottom: 4vh;
    left: -2vh;
    width: 80%;
  }
}

@media only screen and (max-width:736px) and (min-width:568px) {
  .img-dokodemo-about {
    display: none;
  }
  .employee-benefits {
    padding: 0 0 3em;
  }
  .navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .feature-1, .feature-2, .feature-4, .feature-5 {
    border-right: none;
  }
  .feature-1, .feature-2, .feature-3 {
    border-bottom: none;
  }
}

@media only screen and (min-width:360px) and (max-width:414px) {
  .img-dokodemo-about {
    display: none;
  }
  .employee-benefits {
    padding: 0 0 3em;
  }
  .navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .feature-1, .feature-2, .feature-4, .feature-5 {
    border-right: none;
  }
  .feature-1, .feature-2, .feature-3 {
    border-bottom: none;
  }
  .benefits-features {
    padding-top: 2em;
  }
  .section-title {
    font-size: 26px;
  }
}

@media only screen and (max-width:320px) {
  .img-dokodemo-about {
    display: none;
  }
  .employee-benefits {
    padding: 0 0 3em;
  }
  .navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .feature-1, .feature-2, .feature-4, .feature-5 {
    border-right: none;
  }
  .feature-1, .feature-2, .feature-3 {
    border-bottom: none;
  }
  .benefits-features {
    padding-top: 2em;
  }
  .section-title {
    font-size: 26px;
  }
}