.container-404 {
  display: grid;
}
.element {
  justify-self: center;
  align-self: center;
}

/* just aesthetics */
.container-404 {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  margin: auto;
}

.element {
  width: 50vw;
  /* height: 50vh; */
  /* line-height: 50vh; */
  text-align: center;
  margin: -15vh auto 0;
  font-size: 32px;
}

.btn-404,
.btn-404:hover {
  color: white;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  background: rgb(243, 177, 22);
  background: linear-gradient(rgb(255, 202, 19), rgb(238, 185, 3));
  padding: 1.2rem 2rem .9rem;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0 auto;
}
