/* dokodemo */
.case-study .case-study__dokodemo {
    background-size: 100% 140%;
    background-repeat: no-repeat;
    background-position: center;
}
.no-webp .case-study .case-study__dokodemo {
    background-image: url("/img/case-study/bg-doko.jpg");
}
.webp .case-study .case-study__dokodemo {
    background-image: url("/img/case-study/bg-doko.webp");
}

/* case study section */
.case-study__card {
    margin-bottom: 35px;
}
.case-study__card .card__img {
    margin-bottom: 25px;
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.case-study__card .card__headline {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.case-study__card .card__title {
    margin-bottom: 15px;
    font-size: 22px;
}

.case-study__card .card__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.case-study__card .card__list {
    color: black;
    padding-left: 20px;
}

.case-study__card .card__news,
.case-study__card .card__text {
    font-size: 18px;
}

.case-study__card .card__headline,
.case-study__card .card__title,
.case-study__card .card__news,
.case-study__card .card__text {
    color: #000;
}

.case-study__card-wrapper:hover {
    text-decoration: none;
}

.case-study__story .story__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.case-study__story .story__q-a > li {
    margin-bottom: 25px;
}
.case-study__story .story__q-a > li > p:first-child {
    font-weight: bold;
    font-size: 18px;
}
.case-study__story .story__q-a p {
    margin-bottom: 0;
}
.case-study__story .blockquote {
    font-size: 24px;
}
.case-study__story .blockquote-footer {
    font-size: 20px;
}
.case-study__story .story__list {
    padding-left: 0;
    margin-bottom: 0.5rem;
}
.case-study__story .story__list > li:first-child {
    padding-top: 0.5rem;
}
.case-study__story .story__list > li {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 3rem;
}

.case-study__story .feature-title a {
    color: #505458;
    text-decoration: none;
}

.case-study__story .img-day-off {
    max-width: 450px;
    margin-bottom: 1em;
}

.case-study__story .new-feature-link {
    text-decoration: underline !important;
}

.case-study__story.case-study__new-feature li::marker,
.case-study__story.case-study__new-feature .feature-title {
    font-weight: 600;
}
/* end case study section */

/* user role */
.user-role {
    background: #f3f3f3;
    padding-bottom: 3em;
}

.employee-role {
    padding: 2em 0;
}
.program-sample {
    background: url("../img/features/bg-roles.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.img-doko {
    padding: 4em 0;
    max-width: 80%;
    display: block;
    margin: auto;
}

.employee-feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
}

.employee-feature-list p {
    font-size: 19px;
}

.employee-feature-list ul {
    padding: 0;
    list-style: none;
}

.employee-feature-list ul li {
    margin-top: 10px;
    background: url("../img/features/yellow-hexa.png");
    background-repeat: no-repeat;
    padding-left: 30px;
}

.manager-role {
    background: white;
    padding: 2em 0;
}

.manager-activity-list {
    list-style: none;
}

.manager-activity-list li {
    margin-top: 5px;
    background: url("../img/features/yellow-hexa.png");
    background-repeat: no-repeat;
    padding-left: 30px;
}

@media (max-width: 991.98px) {
    /* dokodemo */
    .case-study .case-study__dokodemo {
        background-size: 140% 100%;
    }
}

@media (max-width: 767.98px) {
    /* dokodmeo */
    .webp .case-study .case-study__dokodemo,
    .no-webp .case-study .case-study__dokodemo {
        background-image: none;
    }

    /* user role */
    .employee-feature-list {
        padding: 2em;
    }
    .manager-activity-list {
        padding-right: 2em;
    }
    .manager-activity-list li {
        text-align: left;
    }
}