@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Regular.ttf');
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-SemiBold.ttf');
  font-weight: 600;
}

body {
  font-family: 'Khula';
}

.top-section {
  background: url('../img/home/bg.jpg');
  color: white;
  /* padding-bottom: 3em; */
}

.top-section .navbar li a {
  color: white !important;
}

.banner-header-text {
  text-align: center;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  font-size: 29px;
  font-weight: bold;
  padding: 0.75em 3em 1em 0;
  justify-content: center;
}

.advantages-item:last-of-type {
  padding-right: 0;
}

.btn-sign-up,
.btn-sign-up:hover {
  color: white;
  display: block;
  line-height: 1;
  width: 200px;
  text-align: center;
  font-weight: normal;
  background: rgb(243, 177, 22);
  background: linear-gradient(
    180deg,
    rgba(243, 177, 22, 1) 0%,
    rgba(205, 148, 15, 1) 100%
  );
  padding: 1em 0 0.7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0 auto;
}

.bottom-arrow-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 35px;
}

.benefits-features {
  padding: 2em 0;
  padding-top: 5em;
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.2px;
  color: #505458;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.features p {
  text-align: center;
  color: #505458;
  font-size: 18px;
  font-weight: normal;
  padding: 2em 2em;
}

.feature-img-wrapper {
  margin-top: 2em;
  min-height: 110px;
  display: flex;
  align-items: flex-end;
}

.feature-1,
.feature-2,
.feature-3 {
  border-bottom: 1px solid #419bf9;
}

.feature-1,
.feature-2,
.feature-4,
.feature-5 {
  border-right: 1px solid #419bf9;
}

.btn-learn-more,
.btn-learn-more:hover,
.btn-more-features,
.btn-more-features:hover {
  color: white;
  display: block;
  line-height: 1.5;

  width: 200px;
  font-weight: normal;
  text-align: center;
  background: rgb(24, 138, 226);
  background: linear-gradient(
    180deg,
    rgba(24, 138, 226, 1) 0%,
    rgba(22, 116, 188, 1) 100%
  );
  padding: 1em 0 0.7em 0;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 2em auto;
}

.benefit-title {
  color: #505458;
  font-size: 22px;
  letter-spacing: 0.1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blue-separator {
  width: 100px;
  border-bottom: 3px solid #188ae2;
  margin: 0;
}

.benefit-desc {
  font-size: 20px;
  line-height: 35px;
  color: #505458;
  padding-top: 15px;
}

.benefit-content {
  max-width: 500px;
  padding: 2em 5% 0 5%;
}

.benefit-content.right {
  padding-left: 16%;
}

.dokodemo-user-float {
  position: absolute;
  bottom: 0;
  left: -20vh;
  width: 80%;
}

.dokodemo-desc {
  padding: 2em 0;
}

.dokodemo-desc p {
  text-align: center;
  font-size: 18px;
  color: #505458;
  max-width: 600px;
  line-height: 23px;
  margin: 0 auto;
}

.user-testimony {
  margin-top: 5em;
  padding: 2em 0;
  background: url('../img/home/bg-testimoni.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimony-text {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5em 1em;
  margin-right: 1em;
  min-height: 320px;
}

.testimony-author {
  color: #505458;
  padding: 1em;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots li button::before {
  padding: 1em;
  background: white;
  border: 5px solid white;
  content: '';
  opacity: 1 !important;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.75);
}

.slick-dots li.slick-active button::before {
  padding: 1em;
  background: #1885d9;
  border: 5px solid white;
  content: '';
  opacity: 1 !important;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .advantages-item {
    padding: 0.5em 10%;
    justify-content: flex-start;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    border-bottom: none;
  }

  .feature-1,
  .feature-2,
  .feature-4,
  .feature-5 {
    border-right: none;
  }

  .benefit-content {
    padding-left: 0%;
  }
  .benefit-content.right {
    padding-left: 0;
  }

  .testimony-text {
    min-height: 250px !important;
  }
}

@media (max-width: 1200px) {
  .testimony-text {
    min-height: 385px;
  }
}

@media (max-width: 576px) {
  .features {
    padding: 0 0 15px 0;
  }
  .feature-img-wrapper {
    margin-top: 0;
  }
  .features p {
    padding: 10px;
    margin-bottom: 0;
  }
  .banner-header-text {
    margin-top: 20px;
  }
}

.user-demo {
  margin-top: 3rem;
}

.btn-try-demo {
  text-transform: uppercase;
  font-weight: bold !important;
}

.fs-medium {
  font-size: medium;
}

.header-subfeature {
  font-size: 22px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .banner-header-text {
    font-size: 35px;
  }
  .subbanner-header-text {
    font-size: 18px;
  }
  .header-feature {
    font-size: 21px;
  }
  .header-subfeature {
    font-size: 16px;
  }
  .header-icon-verified {
    width: 32px;
    margin-top: 10px;
  }
  .header-demo-text {
    font-size: 24px;
  }
  .header-subdemo-text {
    font-size: 14px;
  }
  .btn-try-demo {
    width: 170px;
    font-size: 14px;
  }
  .section-title {
    font-size: 28px;
  }
  .features p {
    font-size: 16px;
  }
  .benefit-desc {
    font-size: 18px;
  }
  .benefit-content {
    padding: 0em 5% 0 5%;
  }
  .btn-learn-more {
    margin: 3em auto;
  }
  .dokodemo-desc p {
    font-size: 16px;
    margin: 15px auto;
  }
  .testimony-text {
    font-size: 16px;
    min-height: 360px;
  }
}

@media screen and (max-width: 768px) {
  .banner-header-text {
    font-size: 25px;
  }
  .subbanner-header-text {
    font-size: 16px;
  }
  .header-icon-verified {
    width: 28px;
    margin-top: 12px;
  }
  .header-feature {
    font-size: 18px;
  }
  .header-subfeature {
    font-size: 14px;
  }
  .header-demo-text {
    font-size: 20px;
  }
  .btn-try-demo {
    width: 160px;
    font-size: 13px;
  }
  .section-title {
    font-size: 28px;
    padding-bottom: 0 !important;
  }
  .benefit-content.right {
    padding-left: 8%;
  }
  .benefit-title {
    font-size: 18px;
  }
  .benefit-desc {
    font-size: 13px;
  }
  .benefit-content {
    padding: 1em 5%;
  }
  .dokodemo-desc p {
    font-size: 15px;
  }
  .btn-learn-more {
    margin: 2em auto;
    font-size: 14px;
    width: 150px;
  }
  .btn-learn-more {
    margin: 0em auto 3em auto;
    font-size: 14px;
    width: 150px;
  }
  .btn-more-features {
    width: 150px;
    font-size: 14px;
  }
  .testimony-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .advantages-item {
    padding: 10px 0% 0 0;
    justify-content: center;
  }
  .features p {
    font-size: 16px;
    margin-top: 15px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .header-feature {
    font-size: 22px;
  }
  .header-subfeature {
    font-size: 16px;
  }
  .header-demo-text {
    font-size: 20px;
    margin-top: 40px;
  }
  .dokodemo-desc p {
    font-size: 14px;
    width: 90%;
    text-align: justify;
  }
}

@media screen and (max-width: 375px) {
  .banner-header-text {
    font-size: 22px;
  }
  .subbanner-header-text {
    font-size: 14px;
  }
  .header-subfeature {
    font-size: 14px;
  }
  .features {
    padding: 15px;
  }
  .features p {
    font-size: 16px;
    margin-top: 15px;
  }
  .benefit-desc {
    font-size: 14px;
  }
  .dokodemo-desc {
    padding: 2em 1em;
  }
  .dokodemo-desc p {
    font-size: 14px;
    width: 90%;
    text-align: justify;
  }
  .slick-dots li {
    width: 18px;
  }
}

@media screen and (max-width: 320px) {
  .features p {
    font-size: 14px;
    margin-top: 15px;
  }
  .benefits-features {
    padding: 2em 1em;
    padding-top: 5em;
  }
  .section-title {
    font-size: 24px;
    padding-bottom: 0 !important;
  }
  .slick-dots li {
    width: 12px;
  }
}

/* Whatsapp Button  */
#fixedbutton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 96px;
  height: 96px;
  z-index: 10;
}

#popup-text {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  right: 10px;
  bottom: 94px;
  width: 107px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  z-index: 10;
}

.speech-bubble {
  position: relative;
  background: #25d366;
  border-radius: 0.4em;
  padding: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #25d366;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: -15px;
}

@media only screen and (max-width: 425px) {
  .hide-button-on-mobile {
    display: none;
  }
}
