@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Regular.ttf');
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Khula';
  src: url('../fonts/Khula-SemiBold.ttf');
  font-weight: 600;
}

body {
  font-family: 'Khula';
}

.banner {
  position: relative;
}

.plans-item {
  padding-top: 3em;
}

.plan-watermark {
  color: #fdf0d1;
  position: absolute;
  font-size: 55px;
  font-weight: 600;
  z-index: 0;
  left: 40px;
  top: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  line-height: 1;
}

.plan-title {
  font-weight: 600;
  background: rgb(24, 138, 226);
  background: linear-gradient(
    180deg,
    rgba(24, 138, 226, 1) 0%,
    rgba(22, 116, 188, 1) 100%
  );
  color: white;
  line-height: 1;
  padding: 6px 3em 2px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.price {
  display: block;
  margin-top: 1em;
  margin-left: 0.5em;
  position: relative;
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.price .rp,
.price .per-month {
  font-size: 17px;
  font-weight: 600;
}

.price .price-number {
  font-size: 77px;
  line-height: 1.1;
  font-weight: 600;
  color: #2c7ca7;
  padding-left: 10px;
}

.price .per-month {
  align-self: flex-end;
  line-height: 3.9;
}

.plan-benefits {
  list-style: none;
  padding-left: 0.5em;
  margin-top: 2.4em;
}
.plan-benefits-ex {
  font-weight: bold;
  color: red;
}

.plan-benefits li {
  margin-top: 7px;
  background: url('../img/pricing/check.png');
  background-repeat: no-repeat;
  padding-left: 30px;
}

.additional-fee {
  display: flex;
  font-weight: 600;
}

.additional-fee .price-number {
  color: #2c7ca7;
  font-size: 47px;
  padding-left: 0.1em;
  line-height: 1.1;
}

.additional-fee .per-month {
  align-self: flex-end;
  line-height: 3.8;
  padding-left: 0.5em;
}

.plans-enterprise {
  padding-top: 3em;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.plans-enterprise .plan-watermark {
  color: #fdf0d1;
  font-size: 55px;
  font-weight: 600;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 38px;
  margin: 0 auto;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.plans-enterprise .plan-contact-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.plan-content-container {
  padding: 0 1em;
  border: 1px solid #f0f0f0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plan-btn-left {
  padding-right: 7px;
}

.plan-btn-right {
  padding-left: 7px;
}

.btn-request-trial,
.btn-request-trial:hover {
  color: white;
  display: block;
  line-height: 1;
  width: 200px;
  text-align: center;
  font-weight: normal;
  background: rgb(243, 177, 22);
  background: linear-gradient(
    180deg,
    rgba(243, 177, 22, 1) 0%,
    rgba(205, 148, 15, 1) 100%
  );
  padding: 1em 0 0.7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 2em auto;
}

.read-testimony {
  background: url('../img/pricing/bg-testimony.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 0;
}

.read-testimony h3 {
  font-size: 21px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 0.5em;
  letter-spacing: 0.3px;
}

.btn-read-testimony,
.btn-read-testimony:hover {
  color: white;
  display: block;
  line-height: 1;
  width: 200px;
  text-align: center;
  font-weight: normal;
  background: rgb(243, 177, 22);
  background: linear-gradient(
    180deg,
    rgba(243, 177, 22, 1) 0%,
    rgba(205, 148, 15, 1) 100%
  );
  padding: 1em 0 0.7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0em auto;
}

.btn-price-try-demo,
.btn-price-try-demo:hover {
  color: rgba(22, 138, 226, 1) 100%;
  border: 2px ridge rgb(123, 138, 226);
  display: block;
  line-height: 1;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  padding: 1em 1em .7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0em auto;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-price-buy-plan,
.btn-price-buy-plan:hover {
  color: white;
  display: block;
  border: 2px ridge rgb(22, 116, 188);
  line-height: 1;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(24, 138, 226, 1) 0%,
    rgba(22, 116, 188, 1) 100%
  );
  padding: 1em 1em .7em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0em auto;
  text-transform: uppercase;
}

.price-ent-contact-text {
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
  font-size: 24px;
}

.price-ent-contact-icon {
  text-align: center;
  margin-bottom: 20px;
}

.price-ent-contact-icon a {
  padding: 0 10px;
}

#fixedbutton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 96px;
  height: 96px;
  z-index: 10;
}

/* left fixed btn */
.botFixedBtn{
  position: fixed;
    bottom: 3%;
    left: 2%;
    padding: 10px 0;
    width: 50px;
    height: fit-content;
    z-index: 10;
}

.popUpBottom{
  position: fixed; 
  bottom: 2%; 
  left: 1%; 
  z-index: 20; 
  width: 300px;
}

#popup-text {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
  right: 10px;
  bottom: 94px;
  width: 107px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  z-index: 10;
}

.speech-bubble {
  position: relative;
  background: #25d366;
  border-radius: 0.4em;
  padding: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #25d366;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: -15px;
}

.custom-features-section {
  background: #f0f0f0;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.faq-subtitle {
  text-align: center;
  font-size: 24px;
}

.blue2 {
  color:#008ec4;
  font-size: 18px;
}

@media only screen and (max-width: 425px) {
  .hide-button-on-mobile {
    display: block;
  }
  .speech-bubble {
    display: none;
  }
}

@media (max-width: 576px) {
  .plans-enterprise {
    text-align: left;
  }
  .plans-enterprise .plan-watermark {
    left: 40px;
    top: 20px;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .plan-btn-left {
    padding-right: 15px;
  }
  .plan-btn-right {
    padding-left: 15px;
  }
  .btn-price-buy-plan {
    margin-top: 15px;
  }
}

@media screen and (max-width: 425px) {
  .read-testimony {
    padding: 2em;
  }
  .read-testimony h3 {
    font-size: 18px;
  }
  .pricing-container {
    margin-top: 0 !important;
  }
}

/* popup survey */
.survey-pop-header {
  border-bottom: none;
  padding: 2rem 2rem 0 2rem;
}
.survey-pop-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
.survey-close {
  margin: -2rem !important;
}
.survey-pop-body {
  text-align: center;
  padding: 1rem 2rem 2rem 2rem;
}
.survey-pop-btn-promo {
  font-weight: bold;
}

/* Resp Develop */

@media screen and (min-width: 1024px) and (max-width:1024px) {

}

@media only screen and (max-width: 812px) and (min-width:768px) {

}

@media only screen and (max-width:736px) and (min-width:568px) {

}

@media only screen and (min-width:360px) and (max-width:414px) {
  .price-plans {
    margin-top: 30px;
  }
  .plan-content-container {
    padding: 0 1em 2em 1em;
  }
  .pricing-page-title h2 {
    font-size: 28px;
  }
  .pricing-page-title h3 {
    font-size: 21px;
  }
  .price .price-number {
    font-size: 42px;
  }
  .additional-fee .price-number {
    font-size: 28px;
  }
  .additional-fee .per-month {
    line-height: 1.8;
  }
  .plan-benefits {
    margin-top: 0.4em;
  }
  .faq-subtitle {
    font-size: 20px;
  }
  .div-above-footer {
    text-align: center;
  }
}

@media only screen and (max-width:320px) {
  .price-plans {
    margin-top: 30px;
  }
  .plan-content-container {
    padding: 0 1em 2em 1em;
  }
  .pricing-page-title h2 {
    font-size: 28px;
  }
  .pricing-page-title h3 {
    font-size: 21px;
  }
  .price .price-number {
    font-size: 42px;
  }
  .additional-fee .price-number {
    font-size: 28px;
  }
  .additional-fee .per-month {
    line-height: 1.8;
  }
  .plan-benefits {
    margin-top: 0.4em;
  }
  .faq-subtitle {
    font-size: 20px;
  }
  .div-above-footer {
    text-align: center;
  }
}
