.features > section {
  overflow: hidden;
}

/* point */
.features .features__point .list--circle li::after {
  top: 5px;
  left: 10px;
}

.features .features__point .point__images img {
  width: 375px;
}
.btn-yellow-action{
  min-width: 200px;
  max-width: 250px;
  background: linear-gradient( 180deg, #ffca13 0%, #eeb903 100% );
}

.demo__schedule .schedule {
  padding: 50px 30px 35px;
  height: 100%;
  transition: all 0.15s ease-in-out;
  border: solid 1px transparent;
  box-shadow: none;
}

.demo__schedule .schedule img {
  height: 140px;
}

.demo__schedule .schedule:hover {
  background-color: #fffae8;
  border-color: #ffca13;
  box-shadow: 0px 27px 17px -15px rgba(0, 0, 0, 0.09);
}

@media (max-width: 991.98px) {
  /* point */
  .features .features__point .point__images img {
    width: 100%;
  }

}