RewriteEngine on
ErrorDocument 404 /404.php

<If "%{REQUEST_URI} =~ /ind\x2F.*/">
    ErrorDocument 404 /ind/404.php
</If>

<If "%{REQUEST_URI} =~ /jpy\x2F.*/">
    ErrorDocument 404 /jpy/404.php
</If>